/* General styles */
  
  .sidebar h1 {
    color: #378ce7;
    font-size: 30px;
    padding-top: 1rem;
    text-align: center;
  }
  
  .desktopNav ul {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
  }
  
  .links {
    text-decoration: none;
    color: white;
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
  }
  
  .taskcontainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 30rem;
    height: auto;
    padding: 10px;
    background: linear-gradient(to right, #3cd3ad, #4cb8c4);
  }
  
  .taskcontainer label {
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
  }
  
  .taskcontainer input,
  .taskcontainer textarea {
    width: 100%;
    height: 2rem;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .taskcontainer textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  .btn {
    text-align: center;
    padding-top: 20px;
  }
  
  .btn button {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #378ce7;
    color: white;
    border: none;
  }
  
  .btn button:hover {
    background-color: #2666a4;
  }
  
  .assignedContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15%;
  }
  
  .templates {
    border: 1px solid black;
    width: 30rem;
    color: white;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, #3cd3ad, #4cb8c4);
    margin: 2rem 1rem;
  }
  
  .templates span {
    color: blueviolet;
    font-size: 20px;
  }
  
  .templates p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .editContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .item {
    margin: 0 1rem;
  }
  
  .item button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #378ce7;
    color: white;
  }
  
  .item button:hover {
    background-color: #2666a4;
  }

  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
    .desktopNav {
      display: none;
    }
  
    .mobileMenu {
        margin-top: 1rem;
    }
  
    .iconMenu {
      font-size: 30px;
      color: white;
    }
    .mobileMenu ul {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 1rem;
        cursor: pointer;
      }
      .sidebar {
        background-color: black;
        height: 100vh;
        width: 8rem;
        position: fixed;
      }
  }
  
  @media only screen and (min-width: 1200px) {
    .mobileMenu {
      display: none;
    }
    .sidebar {
        background-color: black;
        height: 100vh;
        width: 12rem;
        position: fixed;
      }
   
  }
  