
.navbar{
    height: 4rem;
    width: 100%;
    background-color: #378CE7;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.logo h1{
    color: whitesmoke;
    padding-left: 3rem;
    padding-top: 5px;
    font-size: 40px;
}
.navlinks ul{
    display: flex;
}
.navlinks ul li {
    padding: 15px 20px 15px 10px;
}
.navlinks ul li a{
    color: white;
    font-size: 25px;
}
