.hero {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hero img {
  width: 100%;
  height: 100vh;
  filter: brightness(0.6) saturate(75%); 
}

.heading{
  position: absolute;
  top: 15px;
  left: 2rem;
}
.heading a{
  font-size: 40px;
  font-weight: bold;
  color:#13bbff;
  cursor: pointer;
}
.navbar{
  position : absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}
.navbar ul li {
  display: inline-block;
  margin-left: 30px;
}
.navbar ul li a{
  font-size: 20px;
  color: white;
}
.container{
  position: absolute;
  top: 15px;
  right: 5rem;
  display: flex;
}

.item{
  margin-left: 20px;
}
.item button{
  color: #13bbff;
  background-color: white;
  padding: 6px 0.75rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease; 
}
.item button:hover {
  background-color: #13bbff; 
  color: white; 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
  
}

.text p {
  font-size: 40px;
  font-weight: bold;
  color: white; 
}
.btn{
  padding-top:2rem;
}
.btn button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #13bbff;
  background-color: white; 
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease; 
}

.btn button:hover {
  background-color: #13bbff; 
  color: white; 
}
