@media only screen and (max-width : 768px ){
  .logo h1{
    font-size: 18px; 
  }
  .searchInput{
    width: 75%;
  }
  .mainProfile{
    right: 0.1rem;
  }
  .profileImage{
    height: 40px;
    width: 40px;
  }
  .menuItems{
    right: 0;
  }

}
@media only screen and (min-width:769px){
  .searchInput{
    width: 30rem;
  }
}


.mainItems{
  height: 3rem;
  width: 100%;
}
.profileImage{
  height: 60px;
  width: 60px;
}

.menuItems{
  z-index :1000;
}

.logo h1{
  font-size: 75px;
}
