.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 10px;
    height: 40vh;
    width: 25rem;
}
.details{
    padding: 1rem;
}
.cancel{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-top: -4.5px;
    margin-right: -2px;
    cursor: pointer;
}
.cancel:hover{
    color: red;
}

.details h1{
    text-align: center;
    padding: 1rem;
}
.details input{
    width: 100%;
    height: 2rem;
    margin: 10px 0;
}
.btn{
    padding-top: 10px;
    text-align: center;
}
.btn button{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}