.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh; 
}
.details{
    border: 1px solid black;
    border-radius: 10px;
    height: 30vh;
    width: 35rem;
}
.item{
    padding: 10px;
    padding-left: 60px;
}
.item input{
    width: 50%;
    font-size: 20px;
}
.roles{
    width: 50%;
    font-size: 20px;
}
.btn{
    padding-top: 10px;
    text-align: center;
}
.btn button{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.media{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 2rem;
}
.media button{
    padding: 10px;
    width: 22rem;
    font-size: 20px;
    cursor: pointer;
}