.container{
    padding: 1rem 6rem 0 20%;
}
.options{
    display: flex;
    justify-content: space-between;
}
.options button{
    padding: 5px;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 3px;
    cursor: pointer;
}