@media only screen and (max-width: 767px) {
    .logo h1 {
      font-size: 20px; 
      color: white;
    }
  
    .profile img {
      width: 40px; 
      height: 40px; 
    }
  
    .search input {
      width: 90%; 
      padding: 3px;
      margin-left: 5px;
    }

    .modalcustom{
        width: 90%;
        height: auto;
    }
    .store{
        flex-direction: column;
    }
  }

/* laptops.. */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar{
        background-color: #378CE7;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo h1{
        color: whitesmoke;
        padding-left: 3rem;
        padding-top: 5px;
        font-size: 40px;
    }
    .profile img{
        margin-left: -3rem;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    
    .search input{
        margin-left: -3rem;
        padding: 0.5rem;
        width: 30rem;
       border: none;
       border-radius: 5px;
    }
    
    .projects button{
        padding: 10px;
        margin-left: -3rem;
        font-size: 20px;
        border-width: 0.1px;
        border-radius: 10px;
        cursor: pointer;
    }
  }

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar{
        background-color: #378CE7;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo h1{
        color: whitesmoke;
        padding-left: 3rem;
        padding-top: 5px;
        font-size: 40px;
    }
    .profile img{
        margin-left: -3rem;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    
    .search input{
        margin-left: -3rem;
        padding: 0.5rem;
        width: 30rem;
       border: none;
       border-radius: 5px;
    }
    
    .projects button{
        padding: 10px;
        margin-left: -3rem;
        font-size: 20px;
        border-width: 0.1px;
        border-radius: 10px;
        cursor: pointer;
    }
  }

  /* desktop */
  @media only screen and (min-width: 1200px) {
    .logo h1{
        color: whitesmoke;
        padding-left: 3rem;
        padding-top: 5px;
        font-size: 40px;
    }
    .profile img{
        margin-left: -3rem;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    
    .search input{
        margin-left: -3rem;
        padding: 0.5rem;
        width: 30rem;
       border: none;
       border-radius: 5px;
    }
    
    .projects button{
        padding: 10px;
        margin-left: -3rem;
        font-size: 20px;
        border-width: 0.1px;
        border-radius: 10px;
        cursor: pointer;
    }
    .modalcustom{
        width: 50%;
        height: auto;
    }
  }

  .navbar{
    height: auto;
    width: 100%;
    background: #378CE7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.store{
    display: flex;
    flex-wrap: wrap;
}
.templates{
    border: 1px solid black;
    width: 20rem;
    padding : 15px;
    border-radius: 5px;
    background:linear-gradient(to right,#3cd3ad,#4cb8c4);
    margin: 2rem 1rem;
}

.templates h3{
    padding-top: 20px;
}
.modalcustom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* width: 50%; */
    /* height: auto; */
    border-radius: 20px;
  }
.cancel{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 35px;
    color: gray;
    cursor: pointer;
}
.cancel:hover{
    color: red;
}
.btn{
    display: flex;
    flex-direction: column;
  
}
.btn button{
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border-width: 1px;
    border-radius:10px ;
}

.header{
    text-align: center;

}
.info{
    padding-top: 18px;
}
.info label{
    margin-bottom: 10px;
}
.info input{
    border: none;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
}
.temp{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5rem;
}
.check button{
    padding: 10px;
        font-size: 20px;
        color: black;
        font-weight: bold;
        background-color: transparent;
        cursor: pointer;
        border-radius:10px ;    
}
.del button{
    background-color: #ffcccc;
    padding: 10px;
        font-size: 20px;
        color: black;
        font-weight: bold;
        cursor: pointer;
        border-radius:10px ;
}
.text{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
