.sidebar h1{
    color: #378CE7;
    font-size: 30px;
    padding-top: 1rem;
    text-align: center;
}
.sidebar{
    background-color: black;
    height: 100vh;
    width: 12rem;
    position: fixed;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
  
    cursor: pointer;
}
.links{
    text-decoration: underline;
    color: white;
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
}
.submitbtn{
    position: absolute;
    left: 60%;
    top: 70%;
    transform: translate(-50%,-50%);    
    border-radius: 10px ;
    height: 30vh;
    width: 50rem;
    background: white;
}
.submitbtn input{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #0964b0;
    font-size: 20px;
}

.error{
    text-align: center;
}
.assignedContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15%;
}
.templates{
    border: 1px solid black;
    width: 30rem;
    color: white;
    height: auto;
    padding : 15px;
    border-radius: 5px;
    background: linear-gradient(to right,#3cd3ad,#4cb8c4);
    margin: 2rem 1rem;
}

.templates span{
    color: blueviolet;
    font-size: 25px;
}
.templates p{
    font-size: 20px;
}

.completebtn{
    margin-top: 1rem;
    text-align: center;
}
.completebtn button{
    padding: 5px;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
}