$custom-indigo: #5c6ac4;
$custom-red: #ef4444;
$custom-green: #10b981;
$custom-yellow: #f59e0b;
$orange-600: #ff9800;

.text-custom-indigo {
  color: $custom-indigo;
}

.text-custom-orange {
  color: $orange-600;
}

.text-custom-green {
  color: $custom-green;
}

.text-custom-yellow {
  color: $custom-yellow;
}
